.aboutContainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.profile-image {
  border-radius: 100%;
  width: 15rem;
  margin: 0 auto;
}
#me {
  -webkit-box-shadow: 47px 40px 0px -7px rgba(213, 226, 247, 1);
  -moz-box-shadow: 47px 40px 0px -7px rgba(213, 226, 247, 1);
  box-shadow: 47px 40px 0px -7px rgba(213, 226, 247, 1);
}
@media (min-width: 1024px) {
  .aboutContainer {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .description {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
  }
  .image {
    grid-column: 2 / -1;
    object-fit: cover;
    grid-row: 1 / 2;
  }

  .profile-image {
    border-radius: 0%;
    width: inherit;
  }
}
